/target/
/.idea/.*
/.idea/libraries/
/.idea/shelf/
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
*.iml
.classpath
.idea
/Reports_ECS/
/allure-results/
/allure-report/
